/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

/* UTILS */
.container {
    margin: 0 auto;
    max-width: 1080px;
}

.wrapper {
    display: flex;
}

.nav__link {
    text-decoration: none;
    color: white;
}

:root {
    --card-margin: 7px;
}

/* HEADER */
header {
    background-color: #ff6900;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.2);

    font-size: 0.7rem;
    font-weight: bold;

    position: sticky;
    top: 0;
    z-index: 1;
}

header .wrapper {
    justify-content: space-between;
    align-items: center;
}

header .logo {
    flex-grow: 1;
    text-align: center;
    line-height: 50px;
}

header .logo__img {
    height: 25px;
    vertical-align: middle;
}

header .nav__element {
    display: inline-block;
    margin: 0 3px;
}

/* MAIN */
main .wrapper {
    padding: 40px 0;
    justify-content: space-evenly;
    flex-wrap: wrap;

    /* debug */
    /* height: 900px; */
    /* background-color: aqua; */
}

.card {
    width: calc(1080px / 3 - var(--card-margin)*2);
    margin: var(--card-margin);

    position: relative;

    /* debug */
    /* background-color: #ff6900; */
    border: 1px dotted black;    
}

/* card content */
.card__img {
    display: block;
}

.card:hover .img-fixed {
    display: none;
}

.img-hover {
    display: none;
}

.card:hover .img-hover {
    display: block;
}

.card > * {
    font-size: 0.8rem;
}

.card .product_name {
    text-transform: uppercase;
    font-size: 0.9rem;
}

.product_price.discounted {
    font-weight: bold;
    color: red;
}

.product_price.full {
    text-decoration: line-through;
}

/* cuoricino preferiti */

.card .card__heart {
    background-color: white;
    width: 40px;
    height: 40px;
    text-align: center;
    font-size: 2rem;

    position: absolute;
    right: 0;
    top: 8px;

    /* debug */
    /* border: 1px solid red; */
}

.card__heart:hover {
    color: red;
    cursor: pointer;
}

/* etichette */
.card .card__tag {
    display: inline-block;
    padding: 4px 8px;
    color: white;
    font-size: 0.7rem;
    font-weight: bold;
}

.card .card__tags {
    position: absolute;
    bottom: 100px;
}

.card__tag.discount {
    background-color: red;
}

.card__tag.category {
    background-color: green;
}

