/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

/* UTILS */
.container {
    margin: 0 auto;
    max-width: 1080px;
}

.wrapper {
    display: flex;
}

.nav__link {
    text-decoration: none;
    color: white;
}

:root {
    --card-margin: 7px;
}

/* HEADER */
header {
    background-color: #ff6900;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.2);

    font-size: 0.7rem;
    font-weight: bold;

    position: sticky;
    top: 0;
}

header .wrapper {
    justify-content: space-between;
    align-items: center;
}

header .logo {
    flex-grow: 1;
    text-align: center;
    line-height: 50px;
}

header .logo__img {
    height: 25px;
    vertical-align: middle;
}

header .nav__element {
    display: inline-block;
    margin: 0 3px;
}

/* MAIN */
main .wrapper {
    padding: 40px 0;
    justify-content: space-evenly;
    flex-wrap: wrap;

    /* debug */
    height: 900px;
    background-color: aqua;
}

.card {
    width: calc(1080px / 3 - var(--card-margin)*2);
    margin: var(--card-margin);

    /* debug */
    background-color: #ff6900;
    border: 1px dotted black;    
}